//Fonts
$mainFont: 'uadyFont';

//sizes
$min: .35em;
$med: 2.5em;
$faSize: 1.3em;

// Typography
@font-face {
    font-family: 'uadyFont';
    font-weight: normal;
    src: url(/public/fonts/uady/lucida-bright-regular.ttf);
}

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Colores UADY
$uadyWhite: #F1FAEE;
$uadyBlue: #002E5F;
$goldUady: #C79316;
$shadow: #CED4DA;

$warning: $goldUady;
$border-width: .1em;