//Fonts
$mainFont: 'uadyFont';

//sizes
$med: 2.5em;
$faSize: 1.3em;

// Typography
@font-face {
    font-family: 'uadyFont';
    font-weight: normal;
    src: url(/public/fonts/uady/lucida-bright-regular.ttf);
}

//Colores UADY
$uadyWhite: #F1FAEE;
$uadyBlue: #002E5F;
$goldUady: #C79316;
$shadow: #CED4DA;

// Colors
$blue: $uadyBlue;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #FF0C38;
$orange: #f6993f;
$yellow: $goldUady;
$green: #5CA15D;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light:  $uadyWhite;


//Bootstrap variables mod
$border-width: .1em;
$tooltip-max-width: 300px;